/* Import fonts first */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* Then your CSS rules */
@import 'tailwindcss';



body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: auto;
}
